<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8"/>
    <title><%= h(yield(:title) || "horsemania") %></title>

    <!-- CSS  -->
	
	<link href="/stylesheets/blueprint/reset.css" rel="stylesheet" type="text/css" media="screen,projection" />
	<link href="/stylesheets/blueprint/typography.css" rel="stylesheet" type="text/css" media="screen,projection" />
	<link href="/stylesheets/blueprint/forms.css" rel="stylesheet" type="text/css" media="screen,projection" />

    <!--[if IE]
      <%= stylesheet_link_tag 'blueprint/ie', :cache => true, :media => "screen,projection"-%>
		<link href="/stylesheets/blueprint/ie.css" rel="stylesheet" type="text/css" media="screen" />
    -->

	<%# Am using static link for a workflow reason %>
	<link href="/stylesheets/mockups/master.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="/stylesheets/mockups/flashes.css" rel="stylesheet" type="text/css" media="screen" />

	<link href="/stylesheets/blueprint/print.css" rel="stylesheet" type="text/css" media="print" />
    <%= yield(:head) %>
  </head>
  <body id="<%= h(params[:action] || "identity") %>">
    <%= render :partial => "partials/mockups/header" %>	
	<div id="wrap">
	  <div id="wrap-inner">
	      <%- flash.each do |name, msg| -%>
	        <%= content_tag :div, msg, :id => "flash_#{name}" %>
	      <%- end -%>
      
	      <%- if show_title? -%>
	        <h1><%=h yield(:title) %></h1>
	      <%- end -%>
		
		  <div id="content" class="group">      
   	        <%= yield %>
	    </div>
	  </div>
    </div>
    <%= render :partial => "partials/mockups/footer" %>	
  </body>
</html>
