<% form_for [location, photo], :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.file_field :upload %>
  </p>
  <p>
    <%= f.hidden_field :user_id, { :value => current_user.id } %>
  </p>
  <p><%= f.submit %></p>
<% end %>
