<% title "Photos" %>

<table>
  <tr>
    <th>Title</th>
  </tr>
  <% for photo in @photos %>
    <tr>
      <td><%=h photo.title %></td>
      <td><%= image_tag photo.upload.url(:tiny) %></td>
      <% if current_user %>
        <td><%= link_to "Show", photo %></td>
        <td><%= link_to "Edit", edit_photo_path(photo) %></td>
        <td><%= link_to "Destroy", photo, :confirm => 'Are you sure?', :method => :delete %></td>
      <% end %>
    </tr>
  <% end %>
</table>
<% if current_user %>
  <p><%= link_to "New Photo", new_location_photo_path %></p>
<% end %>
