<% title "Photo" %>

<p>
  <strong>Title:</strong>
  <%=h @photo.title %>
  <br />
  <%= image_tag @photo.upload.url(:medium) %>
</p>

<p>
  <%= link_to "Edit", edit_location_photo_path(@location, @photo) %> |
  <%= link_to "Destroy", [@location, @photo], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", locations_path %>
</p>
