<% form_for (@location, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :desc %><br />
    <%= f.text_area :desc %>
  </p>
  <p>
    <%= f.label :lat %><br />
    <%= f.text_field :lat %>
  </p>
  <p>
    <%= f.label :lon %><br />
    <%= f.text_field :lon %>
  </p>
  <p>
    <%= f.label :artist %><br />
    <%= f.text_field :artist %>
  </p>
  <p>
    <%= f.label :artist_location %><br />
    <%= f.text_field :artist_location %>
  </p>
  <p>
    <%= f.label :sponsor %><br />
    <%= f.text_field :sponsor %>
  </p>
  <p>
      Attach a file or image <br />
      <%= f.file_field :data%>
  </p>
  <p><%= f.submit %></p>
<% end %>
