<% title "Horse Mania 2010", false %>

<div id="main">
	<div id="map-wrap">
	</div>
</div>
<div id="secondary">
	
	<ul id="photos">
  <% for location in @locations %>

      <li><%= link_to h(location.title), location %></li>

    <!-->
    <tr>
      <td><%=h location.title %></td>
      <td><%=h location.desc %></td>
      <td><%=h location.lat %></td>
      <td><%=h location.lon %></td>
      <td><%= link_to "Show", location %></td>
      <td><%= link_to "Edit", edit_location_path(location) %></td>
      <td><%= link_to "Destroy", location, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
    //-->
  <% end %>
  </ul>	
	
<!--	
	<h2>Most recent photos</h2>
	<div class="actions"><a href="#">see all</a> | <a href="#">upload photo</a></div>
	<ul id="photos">
		<li class="photo">
			<div class="photo-wrapper">
				<a href="#"><img src="/images/horse1-medium-thumb.jpg" /></a>
			</div>
			<div class="meta">
				<span class="which-horse">horse: <a href="#">Nightmare</a></span>
				<span class="time">Uploaded by <a href="#">chasex</a> 15 minutes ago</span>
				<span class="comments">2 <a href="#">comments</a></span>				
			</div>
		</li>
		<li class="photo">
			<div class="photo-wrapper">
				<a href="#"><img src="/images/horse1-medium-thumb.jpg" /></a>
			</div>			
			<div class="meta">
				<span class="which-horse">horse: <a href="#">Nightmare</a></span>
				<span class="time">Uploaded by <a href="#">chasex</a> 15 minutes ago</span>
				<span class="comments">2 <a href="#">comments</a></span>				
			</div>
		</li>
		
	</ul>
	<div class="actions"><a href="#">see all</a> | <a href="#">upload photo</a></div>

	<p><%= link_to "New Location", new_location_path %></p>
	
-->
	
</div>

<% content_for :head do %>
	<link href="/stylesheets/index.css" rel="stylesheet" type="text/css" media="screen" />
<% end %>