<% title "Location" %>

<p>
  <strong>Title:</strong>
  <%=h @location.title %>
</p>
<p>
  <strong>Desc:</strong>
  <%=h @location.desc %>
</p>
<p>
  <strong>Lat:</strong>
  <%=h @location.lat %>
</p>
<p>
  <strong>Lon:</strong>
  <%=h @location.lon %>
</p>
<p>
  <strong>Artist:</strong>
  <%=h @location.artist %>
</p>
<p>
  <strong>Artist Location:</strong>
  <%=h @location.artist_location %>
</p>
<p>
  <strong>Sponsor:</strong>
  <%=h @location.sponsor %>
</p>
<ul>
  <% for asset in @location.assets %>
    <li><%= image_tag asset.url(:large) %></li>
  <% end %>
</ul>

<p>
  <%= link_to "Edit", edit_location_path(@location) %> |
  <%= link_to "Destroy", @location, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", locations_path %>
</p>
